@import url('https://fonts.googleapis.com/css2?family=Asul&family=Work+Sans&display=swap');


html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Asul', sans-serif;
    font-weight: 400;
    background-color: #3a3a3a;
}

h2 {
    top:400px;
    position:relative;
    color:white;
        
    }

    #lasth2 {
        color:red;
    }


.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/chessbackground.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 800px;
    height: 80px;
    margin: auto;

}





.socials {
    
    position: absolute;
    top: 770px;
    left: 32%;

    
}

.socials2 {
    
    position: absolute;
    top: 870px;
    left: 39%;

    
}

.socials li {

    font-size: xx-large;
    

}

.socials2  li {
    font-size: xx-large;
}

.logo{
    
    color: white;
    position: absolute;
    font-size: 40px;
    float: left;
    top: 0px;
    
    
}

.menu{

    width: 400px;
    float: right;
    height: 60px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
   
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    
    
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;
}

.content{
    
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative
    
    
}

.content h1{
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
    margin-top: 9%;
    letter-spacing: 2px;
}



.content .cn{
    position: absolute;
    width: 200px;
    height: 40px;
    top:80%;
    left: 0;
    background: red;
    border: none;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
    
    
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    
}

.cn:hover{
    background-color: white;
}



.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    text-align: center;
    color: #D8C308;;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 4px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    
}

.form input:focus{
    outline: none;
}



.btnn {
    width: 240px;
    height: 40px;
    background: #D8C308;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #D8C308;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #D8C308;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #D8C308;
}

/* Table */
.table {
    color:white;
    position:relative;
    left: 600px;
    top:310px;
    
}

.opening {
    color:white;
    position:relative;
    left: 600px;
    top: 300px;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;

}
.opening th {
    color:red;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.opening td {
    border:1px solid #C0C0C0;
    padding:5px;
}

h3 {
    
    color:white;
    position: absolute;
    left: 600px;
    top: 250px;
    width: 25em;
    font-size: 20px;
    }
    h4 {
        color:white;
        position: absolute;
        left: 600px;
        top: 300px;
        width: 25em;
        font-size: 20px; 
    }

    .video {
    position: absolute;
    left: 560px;
    top: 425px;
    }

    

/* Resies the page as it gets smaller with the @media command */
@media screen and (max-width: 1139px) {
    html, body{ 
        overflow: scroll;
    }

    
    .menu {
        float: left;
        margin-left: -30px;
        margin-top: -80px;
        line-height: 350px;
    }

    .form {
        width: 250px;
        height: 380px;
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        position: absolute;
        left: 0px;
    }

    .opening {
        
        color:white;
        position:relative;
        left: 0px;
        top: 300px;
        border:1px solid #C0C0C0;
        border-collapse:collapse;
        padding:5px;
    }

    

    .table {
        color:white;
        position:relative;
        left: 0px;
        top:300px;

    }

    .video {
        position: absolute;
        left: 0px;
        top: 370px;
        }

    h2 {
        top:600px;
        position:relative;
        color:white;
        }
        
        h3 {
            color:white;
            position: absolute;
            left: 0px;
            top: 250px;
            width: 25em;
            font-size: 20px;
        }

        h4 {
            color:white;
            position: absolute;
            left: 0px;
            top: 250px;
            width: 25em;
            font-size: 20px;
        }

  
  .socials {
    
    position: absolute;
    top: 700px;
    left: -8%;
    }
    .socials2 {
    
        position: absolute;
        top: 700px;
        left: -8%;
        
        }
}
