@import url('https://fonts.googleapis.com/css2?family=Asul&family=Work+Sans&display=swap');
html {
    background:	RGB(7,13,15);
}
body {
    font-family: 'Asul', sans-serif;
    font-weight: 400;
    color:#3a3a3a
    
    
}


.header-pic {
    background-image: url(../images/chesslogo.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    
}

.ul-links {
    list-style:none;
    float: right;
    display: flex;
    padding: 8px;
    letter-spacing: 2px;
    
    
    }

    nav li {
        background: fixed;
         padding: 10px;
         }

         a {
            
             color:white;
             padding: 30px;
             text-decoration: none;
         }

         h1 {
             color:white;
         }

         
        
    

  