@import url('https://fonts.googleapis.com/css2?family=Asul&family=Work+Sans&display=swap');

/* html elements */
html {
  align-items: center;
  background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/chessbackground.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  font-family: 'Asul', sans-serif;
  font-weight: 400;
}

/* main flexbox */
.main {
  display: flex;
  flex-flow:row wrap;
  text-align: center;
}

.main > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

/* header */
.header {
  height: 120px;
}

/* footer */
.footer {
  height: 80px;
}
/* article */
.article {
  text-align: left;
  font-size: 15px;
}

/* socials styling */
.socials {
    
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  gap: 10px 20px;
}

ul{
  list-style: none;
}

/* navigation styling */
.menu{
  text-decoration: none;
  display:flex;
  justify-content: center;
  text-align: center;
  gap: 10px 20px;
  }

a {
    text-decoration:none;
    color: white;
    }

ul li a:hover {
  color: red;
}

/* form styling */
.form .cn{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  top:80%;
  left: 0;
  background: red;
  border: none;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  }

.form .cn a{
  text-decoration: none;
  color: #000;
  
}

.cn:hover{
  background-color: white;
}

.form{
  
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  border-radius: 10px;
  padding: 25px;
}


.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 4px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  }

  /* h2 styling */
  h2 {
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  
#lasth2 {
    color:red;
      }

/* header text styling */
.logo {
        text-align: center;
        color: white;
        font-size: 40px;
    }

/* table styling */
    .table {
      color:white;
      text-align: center;
    }
    
    .opening {
      color:white;
      border:1px solid #C0C0C0;
      border-collapse:collapse;
      padding:5px;
      margin-left: 15%;
      margin-right:15%;
      width: 70%;
    }
    .opening th {
      color:red;
      padding:5px;
      background:#F0F0F0;
      
    }
    .opening td {
      border:1px solid #C0C0C0;
      padding:5px;
    }
    
    /* styling elements for the video */
    .video {
      margin-left: 15%;
      margin-right:15%;
      width: 70%;
      }

      /* mediaqueries max-width: 800px lower  */
      @media screen and (max-width: 800px) {
        .main {
      flex: 3;
        }

        .aside {
            order: 2;
              }

        .main {
          order:2;
        }

        .footer {
          order: 4;
        }

        .article {
          
          font-size: 15px;
      }
        

      }
/* mediaqueries max-width: 600px lower  */
      @media screen and (max-width: 600px) {
        .main > * {
          padding: 1px;
          margin: 1px;
        }

        .article {
          flex:1;
        }
      }


